.slide {
    height: 90vh;
    display: flex;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slide1 {
    background-image: url("../../assets/2.jpg");
}

.slide2 {
    background-image: url("../../assets/3.jpg");
}

.slide3 {
    background-image: url("../../assets/1.jpg");
}

.slide4 {
    background-image: url("../../assets/4.jpg");
}